altair==5.5.0
annotated-doc==0.0.4
annotated-types @ file:///C:/miniconda3/conda-bld/annotated-types_1761745023123/work
anyio @ file:///C:/miniconda3/conda-bld/anyio_1758622432793/work
async-timeout @ file:///C:/b/abs_c8fgiuixkq/croot/async-timeout_1703097556097/work
attrs==25.4.0
blinker==1.9.0
brotlicffi @ file:///C:/miniconda3/conda-bld/brotlicffi_1761745218276/work
cachetools==6.2.4
certifi @ file:///C:/miniconda3/conda-bld/certifi_1759786080784/work/certifi
cffi @ file:///C:/miniconda3/conda-bld/cffi_1760098049787/work
charset-normalizer @ file:///C:/miniconda3/conda-bld/charset-normalizer_1761744977248/work
click @ file:///C:/b/abs_42rbjngfys/croot/click_1744271606983/work
colorama @ file:///C:/b/abs_a9ozq0l032/croot/colorama_1672387194846/work
distro @ file:///C:/b/abs_71xr36ua5r/croot/distro_1714488282676/work
exceptiongroup @ file:///C:/miniconda3/conda-bld/exceptiongroup_1761560480883/work
fastapi==0.126.0
gitdb==4.0.12
GitPython==3.1.45
greenlet @ file:///C:/miniconda3/conda-bld/greenlet_1757405542335/work
h11 @ file:///C:/b/abs_224rqu7kel/croot/h11_1748442031959/work
httpcore @ file:///C:/b/abs_25m7_xthp6/croot/httpcore_1748526065845/work
httpx @ file:///C:/miniconda3/conda-bld/httpx_1760447374722/work
idna @ file:///C:/miniconda3/conda-bld/idna_1761912043328/work
Jinja2==3.1.6
jiter @ file:///C:/b/abs_acsxrw36a6/croot/jiter_1729808947806/work
jsonpatch @ file:///C:/b/abs_4fdm88t7zi/croot/jsonpatch_1714483974578/work
jsonpointer @ file:///C:/b/abs_73u73l7pl9/croot/jsonpointer_1753788460913/work
jsonschema==4.25.1
jsonschema-specifications==2025.9.1
langchain @ file:///C:/miniconda3/conda-bld/langchain_1759750107024/work
langchain-core @ file:///C:/miniconda3/conda-bld/langchain-core_1759500565358/work
langchain-openai @ file:///C:/b/abs_a8mtdv_1jn/croot/langchain-openai_1749072009133/work
langchain-text-splitters @ file:///C:/miniconda3/conda-bld/langchain-text-splitters_1759747146029/work
langsmith @ file:///C:/miniconda3/conda-bld/langsmith_1759484136408/work
MarkupSafe==3.0.3
narwhals==2.14.0
numpy==2.0.2
openai @ file:///C:/miniconda3/conda-bld/openai_1759140364645/work
orjson @ file:///C:/b/abs_83d889opxx/croot/orjson_1737041235063/work
packaging @ file:///C:/miniconda3/conda-bld/packaging_1761049155343/work
pandas==2.3.3
pillow==11.3.0
protobuf==6.33.2
pyarrow==21.0.0
pycparser @ file:///C:/miniconda3/conda-bld/pycparser_1757496061107/work
pydantic @ file:///C:/miniconda3/conda-bld/pydantic_1760697582034/work
pydantic_core @ file:///C:/miniconda3/conda-bld/pydantic-core_1760597458296/work
pydeck==0.9.1
PySocks @ file:///C:/miniconda3/conda-bld/pysocks_1761753077861/work
python-dateutil==2.9.0.post0
python-dotenv @ file:///C:/b/abs_71cpoh9hpg/croot/python-dotenv_1745613639902/work
python-multipart==0.0.20
pytz==2025.2
PyYAML @ file:///C:/b/abs_14xkfs39bx/croot/pyyaml_1728657968772/work
referencing==0.36.2
regex @ file:///C:/miniconda3/conda-bld/regex_1758887969261/work
requests @ file:///C:/b/abs_f53smfvswb/croot/requests_1756709376206/work
requests-toolbelt @ file:///C:/b/abs_2fsmts66wp/croot/requests-toolbelt_1690874051210/work
rpds-py==0.27.1
six==1.17.0
smmap==5.0.2
sniffio @ file:///C:/b/abs_3akdewudo_/croot/sniffio_1705431337396/work
SQLAlchemy @ file:///C:/b/abs_52irs3wj21/croot/sqlalchemy_1756710015498/work
starlette==0.49.3
streamlit==1.50.0
tenacity @ file:///C:/miniconda3/conda-bld/tenacity_1760375776308/work
tiktoken @ file:///C:/b/abs_62swfza6fk/croot/tiktoken_1748479170728/work
toml==0.10.2
tornado==6.5.4
tqdm @ file:///C:/b/abs_0eh9b6xugj/croot/tqdm_1738945553987/work
typing-inspection @ file:///C:/miniconda3/conda-bld/typing-inspection_1760614191697/work
typing_extensions @ file:///C:/b/abs_ecq8gc0vbm/croot/typing_extensions_1756281142218/work
tzdata==2025.3
urllib3 @ file:///C:/b/abs_393g1ayee_/croot/urllib3_1750775481226/work
uvicorn==0.38.0
watchdog==6.0.0
win_inet_pton @ file:///C:/miniconda3/conda-bld/win_inet_pton_1761746274727/work
zstandard @ file:///C:/miniconda3/conda-bld/zstandard_1758189095323/work
